.c-icon.c-icon-custom-size.c-sidebar-brand-full {
  background-image: url("ic_logo.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  width: 100px !important;
  height: 130px !important;
}
